@model ImageVM

@{
    ViewData["Title"] = "Upload Image";
}
<h3> Upload An Image</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeImage" asp-controller="Home" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*"/>
                
            </div> 
            <div class="form-group">
                <input type="submit" value="Add Photo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<form asp-action="DeleteImage" method="post">
<div>
    <input type="submit" value="Delete" class="btn btn-primary" />
</div>
</form>
